*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header{
    background-color: #9d9d9d;
    margin: 30px;
    padding: 20px;
    border-radius: 13px;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu img{
    border-radius: 100%;
}

#menu nav a{
    padding: 30px;
    border-radius: 13%;
}

#menu nav a:nth-last-child(2){      /*Aplicando margem ao penultimo item*/
    margin-left: 160px;
}

#menu nav a:hover{
    background-color: #3d3d3d;
    color: #9d9d9d;
    transition: .6s;

}

#conteudo img{
    height: 300px;
}

.sec1_body{
    display: flex;
}

#rodape{
    color: blue;
    text-align: center;
    background-color: black;
}